.container{
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    width: 380px;
    height: 480px;
    border-radius: 10px;
    background: linear-gradient(135deg, #6dd5fa, #2980b9);
     animation: fadeIn 1s ease-in-out;
}

.form-container{
   padding: 19px;
   margin: 10px;
   display: flex;
   flex-direction: column;
  
}

.form-container input{
    padding: 9px;
    border-radius: 5px;
    outline: none;
    margin: 7px;
    margin-top: 16px;
}
.btn{
    padding: 10px;
    width: 100px;
    margin-left: 105px;
    margin-top: 20px;
}
.h-tag{
    font-size:xx-large;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    
}